@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$roboto: "Roboto", sans-serif;

body {
  font-family: $roboto;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}
