@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  color: #fff;
}

.table .table__number .table__item {
  position: relative;
  background-color: #a5a5a5;
  width: 86px;
}

.table .table__number .table__item img {
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: calc(50% - 5px);
  bottom: -10px;
  position: absolute;
}

.table .table__name .table__item {
  background-color: #4f71be;
}

.table .table__address .table__item {
  background-color: #7eab55;
}

.table .table__address .table__item:nth-child(2) {
  text-align: left;
}

.table .table__address .table__item:nth-child(5) {
  text-align: left;
}

.table .table__address .table__item:nth-child(6) {
  text-align: left;
}

.table .table__date .table__item {
  background-color: #6a99d0;
}

.table .table__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 25px;
}

.table .table__column:last-child .table__item::after {
  width: 0;
  height: 0;
}

.table .table__column .table__item {
  position: relative;
  margin: 5px 10px;
  padding: 20px 20px;
  border-radius: 5px;
}

.table .table__column .table__item:first-child::after {
  width: 0;
  height: 0;
}

.table .table__column .table__item::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -45px;
  height: 1px;
  width: 45px;
  background-color: #cfd9ee;
}
/*# sourceMappingURL=style.css.map */