@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.root {
  padding: 32px 0 32px 24px;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.root .grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 140px auto auto 160px;
      grid-template-columns: 140px auto auto 160px;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  min-width: 1024px;
  grid-auto-columns: minmax(auto, 375px);
  font-size: 20px;
}

.root .grid .table-head::after {
  display: none;
}

.root .grid .row-item {
  max-width: calc(100vw - 20px);
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.root .grid .row-item::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -45px;
  height: 2px;
  width: 45px;
  background-color: #cfd9ee;
}

.root .grid .row-number {
  min-width: unset;
  background-color: #a5a5a5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: #ffffff;
}

.root .grid .row-number img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  height: 20px;
  bottom: -20px;
}

.root .grid .row-name {
  background-color: #4f71be;
}

.root .grid .row-address {
  background-color: #7eab55;
}

.root .grid .row-date {
  background-color: #6a99d0;
}

.root .grid .row-date::after {
  width: 0;
  height: 0;
}

@media (min-width: 1024px) {
  .grid {
    font-size: inherit;
  }
  .row-item {
    max-width: unset;
  }
}
/*# sourceMappingURL=style.css.map */