@import "_reset";
@import "_variables";
@import "_fonts";

.root {
  padding: 32px 0 32px 24px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;

  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 140px auto auto 160px;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    min-width: 1024px;
    grid-auto-columns: minmax(auto, 375px);
    font-size: 20px;

    .table-head {
      &::after {
        display: none;
      }
    }
    .row-item {
      max-width: calc(100vw - 20px);
      color: #ffffff;
      padding: 8px;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: -45px;
        height: 2px;
        width: 45px;
        background-color: #cfd9ee;
      }

      p {
        width: 100%;
      }
    }
    .row-number {
      min-width: unset;
      background-color: #a5a5a5;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: #ffffff;

      img {
        transform: rotate(90deg);
        position: absolute;
        height: 20px;
        bottom: -20px;
      }
    }

    .row-name {
      background-color: #4f71be;
    }

    .row-address {
      background-color: #7eab55;
    }

    .row-date {
      background-color: #6a99d0;

      &::after {
        width: 0;
        height: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .grid {
    font-size: inherit;
  }
  .row-item {
    max-width: unset;
  }
}
